<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
  <div class="container">
    <div class="row d-flex flex-column mt-5">
      <div class="col align-self-center text-center">
        <h4 class="bg-gradient-success">Create Account</h4>
      </div>
      <form class="d-flex flex-column align-self-center" style="width: 320px" method="post" th:object="${userDto}" th:action="@{/users/register}">
        <div class="form-group">
          <label for="fullname">Fullname</label>
          <input type="text" class="form-control" th:field="*{fullname}" placeholder="Fullname">
          <span class="text-danger text-center" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Fullname Error</span>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" th:field="*{username}" placeholder="Username">
          <span class="text-danger text-center" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" th:field="*{password}" placeholder="Password">
          <span class="text-danger text-center" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </form>
      <div class="col align-self-center text-center mt-2">
        <a href="/login" class="text-decoration-none">Login</a>
      </div>
    </div>
  </div>
</body>
</html>