<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
  <nav th:replace="fragments :: navigation"></nav>

  <div class="container">
    <form id="addMovie" th:object="${movieDto}" method="post" th:action="@{/movies/add_movie}" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" th:field="*{title}" type="text"
                   placeholder="Movie Title" maxlength="255" required/>
          </div>
          <div class="form-group">
            <label for="releaseYear">Year</label>
            <input class="form-control" th:field="*{releaseYear}" type="number"
                   placeholder="2003" maxlength="4" minlength="4" required/>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" th:field="*{description}" type="text"
                   placeholder="Movie Description" maxlength="255" required/>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Media</span>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" th:field="*{multipartFile}" required>
              <label class="custom-file-label" for="multipartFile">Choose media</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="group">
            <div class="dropdown col-md-6 addMovieCheckbox">
              <input type="text" id="dropGenre" class="list" value="Choose Genres" readonly>
              <div id="contentGenre" class="content">
                <div class="list" th:each="genre : ${genreList}" >
                  <input type="checkbox" th:field="*{selectedGenreIdList}" th:value="${genre.genreId}" class="list" />
                  <label th:for="${#ids.prev('selectedGenreIdList')}" class="list" th:text="${genre.genreName}">Genre</label>
                </div>
              </div>
              <button type="button" class="btn btn-primary addMovieButton" data-toggle="modal" data-target="#addGenreModal">
                New Genre
              </button>
            </div>
            <div class="dropdown col-md-6 addMovieCheckbox">
              <input type="text" id="dropLanguage" class="list" value="Choose Languages" readonly>
              <div id="contentLanguage" class="content">
                <div class="list" th:each="lang : ${languageList}">
                  <input type="checkbox" th:field="*{selectedLanguageIdList}" th:value="${lang.languageId}" class="list" />
                  <label th:for="${#ids.prev('selectedLanguageIdList')}" class="list" th:text="${lang.languageName}">Language</label>
                </div>
              </div>
              <button type="button" class="btn btn-primary addMovieButton" data-toggle="modal" data-target="#addLanguageModal">
                New Language
              </button>
            </div>
          </div>
          <div class="group">
            <div class="dropdown col-md-12 addMovieCheckboxPerformer">
              <input type="text" id="dropPerformer" class="list" value="Choose Actors/Actresses" readonly>
              <div id="contentPerformer" class="content">
                <div class="list" th:each="performer,i : ${performerList}">
                  <input type="checkbox" th:name="|selectedPerformerDtoList[${i.index}].performerId|"
                         th:value="${performer.performerId}" class="list" />
                  <label  class="list" th:text="${performer.fullname}">Actors/Actress</label>
                  <input type="text" th:field="*{selectedPerformerDtoList[__${i.index}__].performerRole}"
                         placeholder="Role" class="list role"/>
                </div>
              </div>
              <button type="button" class="btn btn-primary addMovieButton" data-toggle="modal" data-target="#addPerformerModal">
                New Actor/Actress
              </button>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success addMovieSubmit" form="addMovie">New Movie</button>
    </form>


    <div th:replace="fragments :: addModal('New Actor/Actress', '/performers/add_performer', 'addPerformerModal', 'fullname')"></div>
    <div th:replace="fragments :: addModal('New Genre', '/genres/add_genre', 'addGenreModal', 'genreName')"></div>
    <div th:replace="fragments :: addModal('New Language', '/languages/add_language', 'addLanguageModal', 'languageName')"></div>


  </div>

  <script th:replace="fragments :: dropdown-script"></script>
</body>
</html>