<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
  <nav th:replace="fragments :: navigation"></nav>

  <div class="container flex-column ">
    <div class="media-info">
      <img th:src="@{${movie.PhotosImagePath}}" class="img-thumbnail detail-image" style="margin-top: 20px;"/>
      <div class="movieDetail">
        <h1 th:text="${movie.title} + ' - ' + ${movie.releaseYear}">Title - 2010</h1>
        <p th:text="${movie.description}">Description</p>
        <div>
          <div class="d-flex flex-row justify-content-around">
            <div>
              <div class="d-flex" style="border-bottom: 1px solid black">
                <span><b>Genres: </b></span>
                <a href="#" class="ml-3">Add more</a>
              </div>
              <div class="d-flex" th:each="genre: ${genres}">
                <a th:href="@{'/movies/get_movies_search_by?key=genreName&direction=ASC&value=' + '__${genre.genreName}__'}"
                    th:text="${genre.genreName} + ' '" class="mr-3 ml-3">Sci-Fi</a>
                <a th:href="@{/movies/delete_assoc_movie_genre/(movieId=${movie.movieId}, genreId=${genre.genreId})}"
                    class="text-danger">Remove</a>
              </div>
            </div>
            <div>
              <div class="d-flex" style="border-bottom: 1px solid black">
                <span><b>Languages: </b></span>
                <a href="#" class="ml-3">Add more</a>
              </div>
              <div th:each="lang: ${languages}">
                <span  th:text="${lang.languageName} + ' '" class="mr-3">English</span>
                <a th:href="@{/movies/delete_assoc_movie_language/(movieId=${movie.movieId}, languageId=${lang.languageId})}"
                   class="text-danger">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group">
      <div class="flex-row flex-title">
        <h3 class="actor-title">Actors/Actresses</h3>
        <a href="#">Add more</a>
      </div>
      <div class="d-flex" th:each="performer: ${performers}">
        <a class="list-group-item list-group-item-action active"
           th:href="@{'/movies/get_movies_search_by?key=fullname&direction=ASC&value=' + '__${performer.fullname}__'}"
           th:text="${performer.fullname} + ' ( ' + ${performer.performerRole} + ' )'">Leonardo DiCaprio</a>
        <a href="#"
           class="btn btn-warning btn-performer">Edit Role</a>
        <a href="#"
           class="btn btn-danger btn-performer">Remove</a>
      </div>

      </a>
    </div>

  </div>

</body>
</html>