<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
  <nav th:replace="fragments :: navigation"></nav>

  <div class="flex-column movie-search">
    <form class="form-inline my-2 my-lg-0 m-0" method="get" th:action="@{/movies/get_movies_search_by}">
      <div class="search-div">
        <div class="input-group m-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="searchBy">SearchBy</label>
          </div>
          <select class="custom-select" id="searchBy" name="key">
            <option value="title" selected>Movie Title</option>
            <option value="fullname">Actor/Actress Name</option>
            <option value="genreName">Genre</option>
          </select>
        </div>
        <div class="input-group m-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="direction">OrderBy</label>
          </div>
          <select class="custom-select" id="direction" name="direction">
            <option value="ASC" selected>Year ASC</option>
            <option value="DESC">Year DSC</option>
          </select>
        </div>
        <input class="form-control mr-sm-2 mb-3 mt-3" type="search" placeholder="Search" aria-label="Search" name="value">
        <button class="btn btn-outline-success my-2 my-sm-0 mb-3 mt-3 btn-search-x" type="submit">Search</button>
      </div>
    </form>
    <a class="btn btn-primary" th:href="@{/movies/display_add_movie}" role="button">New Movie</a>
  </div>

  <div class="container">
    <table class="table table-striped">
      <tr>
        <th scope="col">Media</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
      <tr th:each="movie : ${movieList}">
        <td>
          <div class="movieMedia">
          <img th:src="@{${movie.PhotosImagePath}}" class="img-thumbnail" style="max-width: 60%"/>
          </div>
        </td>
        <td class="movieTitle"><a th:href="@{/movies/get_by_id/(id=${movie.movieId})}" th:text="${movie.title}"></a></td>
        <td th:text="${movie.releaseYear}"></td>
        <td class="desc" th:text="${movie.description}"></td>
        <td>
          <div class="actions">
            <a th:href="@{/movies/get_by_id/(id=${movie.movieId})}"
               class="btn btn-warning" style="margin-bottom: 10px">Edit</a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/movies/delete_by_id/(id=${movie.movieId})}"
               class="btn btn-danger">Delete</a>
          </div>
        </td>

      </tr>
    </table>
  </div>

</body>
</html>