<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
  <nav th:replace="fragments :: navigation"></nav>

  <div class="flex-column">
    <form class="form-inline my-2 my-lg-0 m-0" method="get" th:action="@{/movies/get_movies_search_by}">
      <div class="input-group m-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="searchBy">SearchBy</label>
        </div>
        <select class="custom-select" id="searchBy" name="key">
          <option value="title" selected>Movie Title</option>
          <option value="fullname">Actor/Actress Name</option>
          <option value="genreName">Genre</option>
        </select>
      </div>
      <div class="input-group m-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="direction">OrderBy</label>
        </div>
        <select class="custom-select" id="direction" name="direction">
          <option value="ASC" selected>Year ASC</option>
          <option value="DESC">Year DSC</option>
        </select>
      </div>
      <input class="form-control mr-sm-2 mb-3 mt-3" type="search" placeholder="Search" aria-label="Search" name="value">
      <button class="btn btn-outline-success my-2 my-sm-0 mb-3 mt-3" type="submit">Search</button>
    </form>
    <a class="btn btn-primary" th:href="@{/movies/display_add_movie}" role="button">New Movies</a>
  </div>

  <div class="container">
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Description</th>
        <th>MediaPath</th>
      </tr>
      <tr th:each="movie : ${movieList}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.releaseYear}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.mediaPath}"></td>
      </tr>
    </table>
  </div>

</body>
</html>