<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>
  <nav th:replace="fragments :: navigation"></nav>

  <div class="container flex-column ">
    <div class="media-info">
      <img th:src="@{${movie.PhotosImagePath}}" class="img-thumbnail detail-image" style="margin-top: 20px;"/>
      <div class="movieDetail">
        <h1 th:text="${movie.title} + ' - ' + ${movie.releaseYear}">Title - 2010</h1>
        <p th:text="${movie.description}">Description</p>
        <div>
          <div class="d-flex flex-row justify-content-around">
            <div class="ml-5 mr-5">
              <div class="d-flex" style="border-bottom: 1px solid black">
                <span><b>Genres: </b></span>
              </div>
              <div class="d-flex" th:each="genre: ${genres}">
                <a th:href="@{'/movies/get_movies_search_by?key=genreName&direction=ASC&value=' + '__${genre.genreName}__'}"
                    th:text="${genre.genreName} + ' '" class="mr-3 ml-3">Sci-Fi</a>
                <a th:href="@{/movies/delete_assoc_movie_genre/(movieId=${movie.movieId}, genreId=${genre.genreId})}"
                    class="text-danger">Remove</a>
              </div>
            </div>
            <div class="ml-5 mr-5">
              <div class="d-flex" style="border-bottom: 1px solid black">
                <span><b>Languages: </b></span>
              </div>
              <div th:each="lang: ${languages}">
                <span  th:text="${lang.languageName} + ' '" class="mr-3">English</span>
                <a th:href="@{/movies/delete_assoc_movie_language/(movieId=${movie.movieId}, languageId=${lang.languageId})}"
                   class="text-danger">Remove</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group">
      <div class="flex-row flex-title mb-3">
        <h3 class="actor-title">Actors/Actresses</h3>
        <a class="btn btn-primary"
           th:attr="onclick=|openNewPerformerModal('${movie.movieId}');|">
          Add more
        </a>
      </div>
      <div class="d-flex mb-2" th:each="performer: ${performers}">
        <a class="list-group-item list-group-item-action active"
           th:href="@{'/movies/get_movies_search_by?key=fullname&direction=ASC&value=' + '__${performer.fullname}__'}"
           th:text="${performer.fullname} + ' ( ' + ${performer.performerRole} + ' )'">Leonardo DiCaprio</a>
        <a th:attr="onclick=|openRoleModal('${movie.movieId}', '${performer.performerId}', '${performer.performerRole}');|"
           class="btn btn-warning btn-performer">Edit Role</a>
        <a th:href="@{/movies/removeassoc_movie_performer/(movieId=${movie.movieId}, performerId=${performer.performerId})}"
           class="btn btn-danger btn-performer">Remove</a>
      </div>
      </a>
    </div>
    <div id="editModalHolder"></div>

  </div>

  <script>
    function openRoleModal(movieId, performerId, role) {
      $.ajax({
        url: "/movies/update_role_modal/?movieId=" + movieId + "&performerId=" + performerId + "&currentRole=" + role,
        success: function (data) {
          $("#editModalHolder").html(data);
          $("#editPerformerRoleModal").modal("show");
        }
      });
    };
    function openNewPerformerModal(movieId) {
      $.ajax({
        url: "/movies/add_performer_to_movie_modal/?movieId=" + movieId,
        success: function (data) {
          $("#editModalHolder").html(data);
          $("#addPerformerModal").modal("show");
        }
      });
    }
  </script>
</body>
</html>